/* Variables */

:root {
  --sm: 10px;
  --md: 20px;
  --lg: 30px;
  --xl: 40px;
  --primary: green;
  --secondary: yellow;
  --tertiary: red;
}

/* Padding */

.p-sm { padding: var(--sm); }
.p-md { padding: var(--md); }
.p-lg { padding: var(--lg); }
.p-xl { padding: var(--xl); }

.pt-sm { padding-top: var(--sm); }
.pt-md { padding-top: var(--md); }
.pt-lg { padding-top: var(--lg); }
.pt-xl { padding-top: var(--xl); }

.pr-sm { padding-right: var(--sm); }
.pr-md { padding-right: var(--md); }
.pr-lg { padding-right: var(--lg); }
.pr-xl { padding-right: var(--xl); }

.pb-sm { padding-bottom: var(--sm); }
.pb-md { padding-bottom: var(--md); }
.pb-lg { padding-bottom: var(--lg); }
.pb-xl { padding-bottom: var(--xl); }

.pl-sm { padding-left: var(--sm); }
.pl-md { padding-left: var(--md); }
.pl-lg { padding-left: var(--lg); }
.pl-xl { padding-left: var(--xl); }

.plr-sm { padding: 0 var(--sm) 0 var(--sm); }
.plr-md { padding: 0 var(--md) 0 var(--md); }
.plr-lg { padding: 0 var(--lg) 0 var(--lg); }
.plr-xl { padding: 0 var(--xl) 0 var(--xl); }

.ptb-sm { padding: var(--sm) 0 var(--sm); }
.ptb-md { padding: var(--md) 0 var(--md); }
.ptb-lg { padding: var(--lg) 0 var(--lg); }
.ptb-xl { padding: var(--xl) 0 var(--xl); }

/* Margin */

.m-sm { margin: var(--sm); }
.m-md { margin: var(--md); }
.m-lg { margin: var(--lg); }
.m-xl { margin: var(--xl); }

.mt-sm { margin-top: var(--sm); }
.mt-md { margin-top: var(--md); }
.mt-lg { margin-top: var(--lg); }
.mt-xl { margin-top: var(--xl); }

.mr-sm { margin-right: var(--sm); }
.mr-md { margin-right: var(--md); }
.mr-xl { margin-right: var(--lg); }
.mr-lg { margin-right: var(--xl); }

.mb-sm { margin-bottom: var(--sm); }
.mb-md { margin-bottom: var(--md); }
.mb-lg { margin-bottom: var(--lg); }
.mb-xl { margin-bottom: var(--xl); }

.ml-sm { margin-left: var(--sm); }
.ml-md { margin-left: var(--md); }
.ml-lg { margin-left: var(--lg); }
.ml-xl { margin-left: var(--xl); }

.mlr-sm { margin: 0 var(--sm) 0 var(--sm); }
.mlr-md { margin: 0 var(--md) 0 var(--md); }
.mlr-lg { margin: 0 var(--lg) 0 var(--lg); }
.mlr-xl { margin: 0 var(--xl) 0 var(--xl); }

.mtb-sm { margin: var(--sm) 0 var(--sm) 0; }
.mtb-md { margin: var(--md) 0 var(--md) 0; }
.mtb-lg { margin: var(--lg) 0 var(--lg) 0; }
.mtb-xl { margin: var(--xl) 0 var(--xl) 0; }

/* Text */

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.bold { font-weight: 700; }
.italic { font-style: italic; }
.thin { font-weight: 300; }

/* Width & Height */

.full-width { width: 100% }
.three-quarter-width { width: 75% }
.half-width { width: 50% }
.quarter-width { width: 25% }

.full-height { height: 100%; }
.three-quarter-height { height: 75%; }
.half-height { height: 50%; }
.quarter-height { height: 25%; }

/* Buttons */

.btn {
  border: none;
  color: white;
  background-color: grey;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.btn__primary--sm { font-size: 12px; padding: 10px 20px 10px 20px; background-color: var(--primary); }
.btn__primary--md { font-size: 16px; padding: 15px 30px 15px 30px; background-color: var(--primary); }
.btn__primary--lg { font-size: 18px; padding: 20px 40px 20px 40px; background-color: var(--primary); }
.btn__primary--xl { font-size: 20px; padding: 25px 50px 25px 50px; background-color: var(--primary); }

.btn__secondary--sm { font-size: 12px; padding: 10px 20px 10px 20px; background-color: var(--secondary); color: black; }
.btn__secondary--md { font-size: 16px; padding: 15px 30px 15px 30px; background-color: var(--secondary); color: black; }
.btn__secondary--lg { font-size: 18px; padding: 20px 40px 20px 40px; background-color: var(--secondary); color: black; }
.btn__secondary--xl { font-size: 20px; padding: 25px 50px 25px 50px; background-color: var(--secondary); color: black; }

.btn__tertiary--sm { font-size: 12px; padding: 10px 20px 10px 20px; background-color: var(--tertiary); }
.btn__tertiary--md { font-size: 16px; padding: 15px 30px 15px 30px; background-color: var(--tertiary); }
.btn__tertiary--lg { font-size: 18px; padding: 20px 40px 20px 40px; background-color: var(--tertiary); }
.btn__tertiary--xl { font-size: 20px; padding: 25px 50px 25px 50px; background-color: var(--tertiary); }

/* End Buttons */

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rbg(0, 0, 0);
  background-color: rbg(0, 0, 0, 0.4);
}

.modal__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: popIn;
  animation-duration: 0.4s
}

/* Close Button */
.modal__close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal__header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal__body {
  padding: 2px 16px;
}

.modal__footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Animations */

@keyframes popIn {
  from {top: -300px; opacity: 0;}
  to { top: 0; opacity: 1;}
}


/* End Modal */

/* Responsive Images */

.img--responsive { max-width: 100%; height: auto; }

/* End Responsive Images */